/* Moved the dog button down */
.dogButtons {
    margin-top: 1%;
    margin-bottom: 6%;
}

/* Text Box for adding dog types */
#dog-input {
    width: 100%;
    margin-bottom: 2%;
}

/* Background color for the Dog Images */
#dogImages {
    background-color: black;
}

/* Moved the Dog Images down */
.dog {
    margin-top: 10%;
}
/* Put space between the arrays of buttons */
.btn-outline-dark {
  margin: 2%;
}

/* Add This Button Attributes */

.btn-dark {
    width: 100%;
}

img {
    margin: 80px;
}