/* moved the whole content up */
.container {
    margin-top: -4%;
}

/* moved the search box and button up */
#dog-form {
    margin-top: -4%;
}

/* Moved the dog button down */
.dogButtons {
    margin-top: 1%;
    margin-bottom: 6%;
}

/* Text Box for adding dog types */
#dog-input {
    width: 100%;
    margin-bottom: 2%;
}

/* Background color for the Dog Images */
#dogImages {
    background-color: black;
}

/* Moved the Dog Images down */
.dog {
    font-size: 3vh;
    color: white;
    border-style: dashed;
    border-color: rgb(245, 157, 43);
    border-width: 20px;
    margin-top: 10%;
}
/* Put space between the arrays of buttons */
.btn-outline-dark {
  margin: 2%;
}

/* Add This Button Attributes */

.btn-dark {
    width: 100%;
}
/* Spacing out the images displayed */
img {
    margin: 80px;
}

/* Cute dog picture attributes */
#cuteDog {
    width: 40%;
    margin-top: -1%;
    margin-left: 31%;
}

/* making the width of the code 28% */
.gif {
    width: 28%;
}